<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to " âœðŸ¿ Edit  ", edit_article_path(@article) %><span>â‡‹<span><%= link_to " Delete ðŸ”¥", article_path(@article), method: :delete, data: {confirm: "Do you really want to DESTROY(ðŸ”¥) this article?"} %>
<br><br>
<%= link_to "ðŸ”™ to Articles", articles_path %>


